{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>장바구니</title>
</head>
<body>
    <h1>장바구니</h1>
        <label for="phone_number">제품을 픽업하실 분의 전화번호</label><br>
        <input type="tel" name="phone_number" id="phone_number" placeholder="전화번호를 입력하세요" required>
        {% for item in cart_items %}
            <li class="item-{{item.pk}}">
                {{ item.menu.name }}<br>
                수량
                {% comment %} <form method="POST" action="{% url 'buyers:update_cart' item.pk %}" onsubmit="return updateCart(this)">
                    {% csrf_token %}
                    <input type="number" name="item_{{ item.pk }}" value="{{ item.quantity }}" min="1">
                    <button type="button" onclick="incrementQuantity('{{ item.pk }}')">+</button>
                    <button type="button" onclick="decrementQuantity('{{ item.pk }}')">-</button>
                </form> {% endcomment %}
                <div class="item_quantity-{{item.pk}}">{{item.quantity}}</div>
                <div onclick="onClickQuan({{item.pk}}, 'plus')">+</div>
                <div onclick="onClickQuan({{item.pk}}, 'minus')">-</div>
                <div class="total_price">가격 {{ item.total_price|intcomma }}원</div>
                <a href="{% url 'buyers:delete_cart_item' item.pk %}" class="delete-btn">삭제</a>
            </li>
        {% endfor %}
        <p>결제금액<span> 총 {{total_price|intcomma}}원</span></p>
        <label for="request_text">요청 사항</label><br>
        <input type="text" name="request_text" id="request_text" placeholder="요청 사항을 적어주세요">
        <p>결제 수단</p>
        <label>
            <input type="radio" name="payment_method" value="카드결제">
            카드결제
        </label>
        <label>
            <input type="radio" name="payment_method" value="카카오페이">
            카카오페이
        </label>
        <label>
            <input type="radio" name="payment_method" value="픽업시 결제">
            픽업시 결제
        </label>
        <br>
        <form method="post" action="{% url 'buyers:payment' %}">
            {% csrf_token %}
            <input type="hidden" name="total_price" value="{{ total_price }}">
            <input type="submit" value="결제">
        </form>
        {% comment %} <input type="submit" value="결제">
        <button type="button" onclick="proceedToPayment()">결제</button> {% endcomment %}
        {% comment %} 결제수단이랑 proceedToPayment는 일단 예시 {% endcomment %}
</body>
</html>

<script>
    const requestQuan = new XMLHttpRequest();
    const onClickQuan = (id, quanType) => {
        const url = "/cart/item-quan/" + id +"/";
        requestQuan.open("POST", url, true)
        requestQuan.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        let data = {
            id : id,
            quanType : quanType,
        }
        requestQuan.send(JSON.stringify(data));
    };

    requestQuan.onreadystatechange = () => {
        if (requestQuan.readyState === XMLHttpRequest.DONE) {
            if (requestQuan.status < 400) {
                const { id, menu, item } = JSON.parse(requestQuan.response);
                const itemQuantity = document.querySelector(`.item_quantity-${id}`);
                itemQuantity.textContent = `${item.quantity}`;
            }
        }
    };


    
    function incrementQuantity(itemId) {
        let inputElement = document.querySelector(`input[name="item_${itemId}"]`);
        let currentValue = parseInt(inputElement.value);
        inputElement.value = currentValue + 1;
        inputElement.form.submit();
    }

    function decrementQuantity(itemId) {
        let inputElement = document.querySelector(`input[name="item_${itemId}"]`);
        let currentValue = parseInt(inputElement.value);
        if (currentValue > 1) {
            inputElement.value = currentValue - 1;
            inputElement.form.submit();
        }
    }

    function updateCart(form) {
        // 서버로 폼 제출
        return true;
    }
</script>