/* reset.css */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body,p{margin:0}
*{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

ul,li{
    margin:0;padding:0;
    list-style-type: none;
}

img{vertical-align: top;}

body{
    margin: 0 auto;
    width: 390px;
    height: 1280px;
    /* border: 1px solid red; */
}

.main-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
article>div{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.store-name{
   
    font-size: 20px;
    font-weight: 800;
}

.section{
    margin: 30px auto;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.subtitle{
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 18px;
    margin: 15px auto;
}

.right{
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

.detail-tt{
    margin-bottom: 10px;
}

.detail-bt{
    background-color:#EA4C4C;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    padding: 15px;
    text-align: center;
    display: block;
}