<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./kiosk.css">
    <link rel="stylesheet" href="./modal.css">
</head>
<body>
    <article>
        <div id="modal" class="modal-overlay">
            <div class="modal-window">
                <div class="close-area">X</div>
                <div class="title">
                    <h2>민속반찬</h2>
                    <div>민속반찬에 오신 것을 환영합니다</div>
                </div>
                <div class="content">
                    <div class="content-d">매장 식사</div>
                    <div class="content-d">포장</div>
                </div>
                <div class="modal-sound">모바일 키오스크 음성 도움이 <br>필요하신 분은 여기를 터치해주세요.</div>
            </div>
            <div class="modal-order">주문하기</div>
            
        </div>
        <div class="store-name">민속반찬</div>
        <img class="main-img" src="./picture.jpeg" alt="">
        <div >
            <ul class="store-category">
                <li class="store-category-s active">즉석 반찬</li>
                <li class="store-category-s">김치 류</li>
                <li class="store-category-s">젓갈 류</li>
                <li class="store-category-s">나물 류</li>
            </ul>
        </div>
        <div class="menu-row active">
            <div class="menu-column">
                <img class="menu-img" src="./picture.jpeg" alt="">
                <div class="menu-name">매운 꽃게 무침<br>(작은 크기 2마리)</div>
                <div class="menu-price">6,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./picture.jpeg" alt="">
                <div class="menu-name">계란말이 (2인분)</div>
                <div class="menu-price">5,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./picture.jpeg" alt="">
                <div class="menu-name">계란말이 (2인분)</div>
                <div class="menu-price">5,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./picture.jpeg" alt="">
                <div class="menu-name">매운 꽃게 무침<br>(작은 크기 2마리)</div>
                <div class="menu-price">6,000</div>
            </div>
        </div>
        <div class="menu-row">
            <div class="menu-column">
                <img class="menu-img" src="./img/bachu.jpg" alt="">
                <div class="menu-name">배추김치</div>
                <div class="menu-price">5,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/ggak.jpg" alt="">
                <div class="menu-name">깍두기</div>
                <div class="menu-price">4,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/yeolmoo.png" alt="">
                <div class="menu-name">열무</div>
                <div class="menu-price">8,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/pa.jpg" alt="">
                <div class="menu-name">파김치</div>
                <div class="menu-price">8,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/god.jpg" alt="">
                <div class="menu-name">갓김치</div>
                <div class="menu-price">8,000</div>
            </div>
        </div>
        <div class="menu-row">
            <div class="menu-column">
                <img class="menu-img" src="./img/joge.jpg" alt="">
                <div class="menu-name">조개젓</div>
                <div class="menu-price">4,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/myeong.jpg" alt="">
                <div class="menu-name">명란젓</div>
                <div class="menu-price">5,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/ojing.jpg" alt="">
                <div class="menu-name">오징어젓</div>
                <div class="menu-price">3,000</div>
            </div>
        </div>
        <div class="menu-row">
            <div class="menu-column">
                <img class="menu-img" src="./img/kong.jpg" alt="">
                <div class="menu-name">콩나물 무침</div>
                <div class="menu-price">4,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/sigeumchi.jpg" alt="">
                <div class="menu-name">시금치 무침</div>
                <div class="menu-price">3,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/gosari.jpg" alt="">
                <div class="menu-name">고사리 무침</div>
                <div class="menu-price">5,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/chungkyung.jpg" alt="">
                <div class="menu-name">청경채 무침</div>
                <div class="menu-price">3,000</div>
            </div>
            <div class="menu-column">
                <img class="menu-img" src="./img/shiraegi.jpg" alt="">
                <div class="menu-name">시래기 무침</div>
                <div class="menu-price">5,000</div>
            </div>
        </div>
        <div class="pay-semo">▲</div>
        <div class="basket">
            <div class="basket-top">
                <div>◀</div>
                <div class="menu_blank"></div>
                <div class="menu_blank"></div>
                <div class="menu_blank"></div>
                <div class="menu_blank"></div>
                <div>▶</div>
            </div>
        </div>
        <div class="pay-row">
            <div class="pay1">
                <div class="pay1-1">총 결제 금액</div>
                <div class="pay1-2">₩ 0</div>
                <div class="pay1-3">일괄 취소</div>
            </div>
            <div class="pay1 pay2">
                <img class="pay-icon" src="./img/Vector.png" alt="">
                <div>결제하기</div>
            </div>
        </div>
    </article>
</body>
<script>

    const modal = document.getElementById("modal")

    function modalOn() {
        modal.style.display = "flex"
    }

    function isModalOn() {
        return modal.style.display === "flex"
    }

    function modalOff() {
        modal.style.display = "none"
    }

    const closeBtn = modal.querySelector(".close-area")
    closeBtn.addEventListener("click", e => {
        modalOff()
    })

    const closeBtn2 = modal.querySelector(".modal-order")
    closeBtn2.addEventListener("click", e => {
        modalOff()
    })

    modal.addEventListener("click", e => {
        const evTarget = e.target
        if(evTarget.classList.contains("modal-overlay")) {
            modalOff()
        }
    })

    window.addEventListener("keyup", e => {
        if(isModalOn() && e.key === "Escape") {
            modalOff()
        }
    })
    const elCategory = document.querySelectorAll(".store-category-s");
    const elMenu = document.querySelectorAll(".menu-row");
    const elMenus = document.querySelectorAll(".menu-column"),
    elBlank = document.querySelectorAll(".menu_blank"),
    elPay = document.querySelector(".pay2"),
    elCancle = document.querySelector('.pay1-3'),
    chooseP = document.querySelectorAll('.content-d');

    chooseP.forEach(function(v,i){
        v.onclick = function(){
            chooseP.forEach(function(a,b){
                a.classList.remove('active');
            })
            v.classList.add('active');
        }
    });

    elPay.onclick = function(){
        location.href='./kiosk_pay.html'
    }
    elCategory.forEach(function(v,i){
        v.onclick = function(){
            elCategory.forEach(function(a,b){
                a.classList.remove("active");
            })
            elMenu.forEach(function(a,b){
                a.classList.remove("active");
            })
            v.classList.add("active");
            elMenu[i].classList.add("active");
        }
    })
    elMenus.forEach(function(v,i){
        v.onclick = function(){
            location.href='./kiosk_menu.html'
        }
    })

    
    if(sessionStorage.urlData && sessionStorage.urlData.length > 0) {
        let url = sessionStorage.getItem('urlData'),
        url_arr = url.split(',');
        for (let i=0; i < url_arr.length; i++){
            elBlank[i].innerHTML= `<img src="${url_arr[i]}">`
        }
    } else {
        modalOn();
    }

    elCancle.onclick=()=>{
        sessionStorage.setItem('urlData','')
            for (let i=0; i < 4; i++){
                elBlank[i].innerHTML= ``
            }
    }

    
</script>
</html>