<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 상세페이지</title>
</head>
<body>
    {% if menu.img %}
    <img src="{{menu.img.url}}" alt="" style="width:100px;">
    {% else %}
    <p>이미지 준비중</p>
    {% endif %}
    <h1>{{ menu.name }}</h1>
    <p>가격 : {{ menu.price }}</p>
    <p>{{ menu.exp }}</p>
    {% if options %}
        <h3>옵션</h3>
        <ul>
            {% for option in options %}
                <li>
                    {{ option.name }} - {{ option.price }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if not owner %}
    <form method="post" action="{% url 'buyers:add_to_cart' menu.id market_id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">주문 목록에추가</button>
    </form>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>