{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ menu.name }} 상세 정보</title>
    <link rel="stylesheet" href="{% static 'css/kiosk_menu.css' %}"></head>
    <script src="{% static 'js/stt.js' %}"></script>
    <script src="{% static 'js/tts.js' %}"></script>
<body>
    <article>
        <nav>
            <div class="text21"><a href="{{request.META.HTTP_REFERER}}">&lt</a></div> {% comment %} 다시 seller_detail 페이지로 이동해야 돼요{% endcomment %}
            <div class="text22"> SSOCK </div>
            <div></div>
        </nav>
    <button class="stt-button" onclick="sendSpeech('kiosk_menu');">
        <img class="mic" src="{% static 'images/mic-w.png' %}" alt="">       
    </button>
    <form id="kiosk-menu-form" method="post" action="{% url 'buyers:add_to_cart' menu.id %}">
        {% if menu.img %}
        <img class="main-img" src="{{menu.img.url}}">
        {% else %}
        이미지 준비중
        {% endif %}
        <div id="margin-div">
            <div>
                <div class="subtitle">{{ menu.name }}</div>
                <div class="description">{{ menu.exp }}</div>
            </div>
            <div class="section" id="price">
                <span class="subtitle" id="price-title">가격</span>
                <span id="price-detail">{{ menu.price }}원</span>
            </div>
            <div class="detail">
                <div class="subtitle" id="option-title">옵션</div>                    
                {% for option in menu.option_set.all %}  
                    <div class="detail-row">
                        <label for="cl"><input type="checkbox" name="options" value="{{option.pk}}" id="cl" > {{ option.name }}</label>
                        <div>+{{ option.price }}원</div>
                    </div>
                {% endfor %}
            </div>
            <div class="section">
            {% csrf_token %}
            <div id="quantity-div">
                <div class="subtitle" id="quantity-title">수량</div>
                {% comment %} 수량 입력하는 부분 html에서 어떻게 수정해야하는지 모르겠네요 {% endcomment %}
                <input type="number" id="quantity" value="1" name="quantity" min="1">
            {% comment %} <input type="number" id="quantity" value="1" name="quantity" min="1"> {% endcomment %}
            </div>
            <br>
            <input type="submit" class="detail-bt" value="주문 목록에 추가">
        </div>
    </form>
    
    {% comment %} 
        <div class="section">
            <div class="subtitle">토핑 추가 선택</div>
            <div class="detail">
                <div class="detail-row">
                    <label for="cl"><input type="checkbox" name="cl" id="cl" checked>  치즈폭탄 계란말이로 변경</label>
                    <div>+3,000원</div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="subtitle">소스 선택</div>
            <div class="detail">
                <div class="detail-row">
                    <label for="cl"><input type="checkbox" name="cl" id="cl" checked> 케찹</label>
                    <div>+0원</div>
                </div>
                <div class="detail-row">
                    <label for="cl"><input type="checkbox" name="cl" id="cl"> 머스타드</label>
                    <div>+0원</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="subtitle">수량</div>
        </div>
        
        <div>
            <a class="detail-bt">주문 목록에 추가</a>
        </div>
    </article>
    {% endcomment %}
</body>

<script>
    let isSound = sessionStorage.getItem('isSound') == 'true';
    let elSubtitle = document.querySelector('.subtitle');
    let elDescription = document.querySelector('.description');
    let elPrice = document.querySelector('#price-detail');
    if (isSound) {
        sendTTS(elSubtitle.innerText);
        sendTTS(elDescription.innerText);
        sendTTS('가격');
        sendTTS(elPrice.innerText);
    }
</script>

</html>