{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>주문 내역</title>
</head>
<body>
    <h1>주문 내역</h1>
    <p>선택한 제품 정보</p>
    <ul>
        {% for item in item_info_list %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
    <p>전화번호: {{ phone_number }}</p>
    <p>요청 사항: {{ request_text }}</p>
    <p>결제금액: 총 {{ total_amount|intcomma }}원</p>
    {% comment %} <p>결제 수단: {{ request.POST.payment_method }}</p> {% endcomment %}

    {% if payment %}
        <p><a href="{% url 'buyers:payment_order_detail' payment.id %}">확인 {{ payment.id }} 상세 내역 보기</a></p>
        <ul>
            {% for cart_item in payment.cart.cartitem_set.all %}
                <li>{{ cart_item.menu.name }} (수량: {{ cart_item.quantity }})</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>

