{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역</title>
    <link rel="stylesheet" href="{% static '/css/kiosk_pay.css'%}">
</head>
<body>
    <article>
        <nav>
            <div class="text21"><a href="#">&lt</a></div>
            <div class="text22"> SSOCK </div>
            <div></div>
        </nav>
        <img class="main-img" src="{{market.register.logo.url}}" alt=""> {% comment %}이거 안불러와지네요..쩝{% endcomment %}
        {% if payment %}
            <div class="store-name detail-tt">{{ payment.cart.market.register.name }}</div>
            <div class="section">
                <div class="column-detail-tt">주문일시 : {{payment.date}}</div>
                <div class="column-detail-tt">주문번호 : {% comment %} {{만들어야함}} {% endcomment %}</div>
            </div>
            <div class="section">
                <div class="subtitle">주문 메뉴</div>
                {% for cart_item in payment.cart.cartitem_set.all %}
                <div class="row">
                    <div class="column">
                        <div class="detail-tt">{{ cart_item.menu.name }}</div>
                    </div>
                    <div class="column">
                        <div class="detail-tt">
                            (수량: {{ cart_item.quantity }}) - {{cart_item.total_price|intcomma}}
                        </div>
                    </div>
                    <div class="option">
                        {% if cart_item.options.all %}
                            <ul>
                                {% for option in cart_item.options.all %}
                                    <li>{{ option.name }} (+{{ option.price|intcomma }}원)</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="section">
                <div class="subtitle">픽업 형태</div>
                <div class="right">{{ payment.order_type }}</div>
                <div class="subtitle">결제 수단</div>
                <div class="right">{{ payment.payment_method }}</div>
                <div class="subtitle">전화 번호</div>
                <div class="right">{{ payment.phone_number }}</div>
                <div class="subtitle">요청 사항</div>
                <div class="right">{{ payment.need }}</div>
                <div class="subtitle">결제 금액</div>
                <div class="right">총 {{ payment.total_amount|intcomma }}원</div>
            </div>
            <div>
                <a href="{% url 'users:mypage' %}" class="detail-bt" >완료</a>
            </div>
        {% endif %}
    </article>
</body>
</html>

