{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if user.profile.seller %}
    <div id="store">
      {% comment %} <img src="{% static 'images/heart.png' %}" id="heart"> {% endcomment %}
      {{market.register.name}} > {{market.register.representative}} 사장님
    </div>
    <a href="">주문목록</a>
    <a href="">매장정보수정</a>
    <a href="">매장키오스크수정</a>

  {% else %}
    {{user.profile.nickname}}님
    <h3>현재주문내역</h3>
      {% for payment in payments %}
        {% if payments %}
          <p>주문한 가게 이름: 
            {% comment %} <a href="{% url 'buyers/payment.html' %}"> {% endcomment %}
              <img src="{{ payment.cart.market.register.logo.url }}"><br>
              {{ payment.cart.market.register.name }}<br>
            {% comment %} </a> {% endcomment %}
            주문 일시 {{payment.date}}</p>
          <p>카트에 담았던 주문 메뉴
              <ul>
                  {% for cart_item in payment.cart.cartitem_set.all %}
                        {{ cart_item.menu.name }}
                        {% if not forloop.last %} + {% endif %}
                        {% comment %} <li>
                          {{ cart_item.menu.name }}
                        </li> {% endcomment %}
                        {% comment %} {{ cart_item.menu.name|truncatechars:10 }} {% endcomment %}
                  {% endfor %}
              </ul>
          </p>
          <p>결제 금액: 총 {{ payment.total_amount|intcomma }}원</p>
          {% comment %} 너왜소수점까지나오는? {% endcomment %}
        {% endif %}
        {% empty %}
        <p>주문 내역이 없습니다.</p>
      {% endfor %}
    <div>
    <h3>최근주문내역</h3>
    {% comment %} 이전 코드 {% endcomment %}
    {% for payment in payments %}    
    {% if payment.cart.market %}
        <p>{{ payment.cart.market.register.name }}</p>
        <img src="{{ payment.cart.market.register.logo.url }}">
    {% endif %}
    <p>{{ payment.date }}</p>
    {% empty %}
    주문내역이 없습니다
    {% endfor %}
  {% endif %}
</body>
</html>