{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link href="{% static '/css/myPage.css'%}" rel="stylesheet"/>
</head>
<body>
  <nav>
      {% comment %} <div class="text21"><a href="{{ request.META.HTTP_REFERER }}"><</a></div> {% endcomment %}
      <div class="text21"><a href="{% url 'sellers:seller_list' %}"><</a></div>
      <div class="text22"> 마이페이지 </div>
      <div><a href="/users/start"><img src="{%static 'images/home.png'%}"></a></div>
  </nav>
  <div id="container">
    
    {% if user.profile.seller %}
      <div id="store">
        <img src="{% static 'images/heart.png' %}" id="heart">
        {{market.register.name}} > {{market.register.representative}} 사장님
      </div>
      <div class="box-btn" id="box1">
        <div>주문 목록</div>
      </div>
      <div class="box-btn" id="box2">
        <div>매장 정보 수정</div>
      </div>
      <div class="box-btn" id="box3">
        <div>매장 키오스크 수정</div>
      </div>
      <div class="box-btn" id="box4">
        <div>매장 QR 확인</div>
      </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var box1 = document.getElementById("box1");
        var box2 = document.getElementById("box2");
        var box3 = document.getElementById("box3");
        var box4 = document.getElementById("box4");
        
        box1.addEventListener("click", function() {
          window.location.href = "{% url 'sellers:order_list' pk=market.pk %}";
        });
        
        box2.addEventListener("click", function() {
          window.location.href = "{% url 'sellers:seller_info' market.pk %}";
        });
        
        box3.addEventListener("click", function() {
          window.location.href = "{% url 'sellers:seller_detail' market.pk %}";
        });
        
        box4.addEventListener("click", function() {
          window.location.href = "{% url 'sellers:my_qr' %}";
        });
      });
    </script>
  
    {% else %}
    <section class="text_wrap">
      <div class="wrap30">
          <div class="text30">
            {{user.profile.nickname}} 님
          </div>
      </div>
    </section>
    <section>
      <div class="text33">현재 주문 내역</div>
    </section>
        {% comment %} {% for payment in payments %} {% endcomment %}
          {% if lapay %}
            <section class="wrap31">
              <div class="polaroid">
                  <img src="{{ lapay.cart.market.register.logo.url }}" alt="Image 2">
                  <div>
                      <div class="text">{{lapay.payment.date}}</div>
                  </div>
              </div>
              <div class="right">
                  <div class="text35">
                      <a href="#">{{ lapay.payment.cart.market.register.name }} &gt;</a>
                  </div>
                  <div class="text36">
                    {{itemstitle|truncatechars:10}}
                  </div>
                  <div class="text36">
                    {{ lapay.total_amount|floatformat:0|intcomma }}원
                  </div>
                  <div>
                      <button class="nick_btn"><a href="#">조리 중이에요!</a></button>
                  </div>
              </div>
            </section>
          {% else %}
              <div>주문 내역이 없습니다.</div>
          {% endif %}
          <div class="box30"></div>
          <section>
            <div class="text33">최근 주문 내역</div>
          </section>
      {% comment %} 이전 코드 {% endcomment %}
      <div id="wrap33-div">
        {% if payments %}
          {% for payid, paymentitem in paymentitems.items reversed %}    
            <section class="wrap33">
              <div class="polaroid2">
                  <a href="#"><img src="{{ paymentitem.payment.cart.market.register.logo.url }}" alt="Image 2"></a>
                  <div>
                      <div class="text">{{ paymentitem.payment.cart.market.register.name }}</div>
                      <div class="text">{{ paymentitem.payment.date }}</div>
                  </div>
              </div>
            </section>
          {% empty %}
          <div>주문내역이 없습니다</div>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
</body>
</html>