{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if user.profile.seller %}
    <div id="store">
      {% comment %} <img src="{% static 'images/heart.png' %}" id="heart"> {% endcomment %}
      {{market.register.name}} > {{market.register.representative}} 사장님
    </div>
    <a href="">주문목록</a>
    <a href="">매장정보수정</a>
    <a href="">매장키오스크수정</a>
  {% else %}
    {{user.profile.nickname}}님
    현재주문내역
    ->payment 연결 후 수정예정
    최근주문내역
    {% for payment in payments %}    
    {% if payment.cart.market %}
        <p>{{ payment.cart.market.register.name }}</p>
        <img src="{{ payment.cart.market.register.logo.url }}">
    {% endif %}
    <p>{{ payment.date }}</p>
    {% empty %}
    주문내역이 없습니다
    {% endfor %}
  {% endif %}
</body>
</html>