/* reset.css */
body,p{margin:0}
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}

ul,li{
    margin:0;padding:0;
    list-style-type: none;
}

img{vertical-align: top;}

body{
    margin: 0 auto;
    width: 390px;
    height: 1280px;
}
article{
    position: relative;
    /* background-color: antiquewhite; */
}

.main-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.detail-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .detail-bt{
    background-color: aqua;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
} */