* {
    font-family: Pretendard;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#container {
    width: 390px;
    margin: 0 auto;
    position: relative;
}

nav {
    width: 310px;
    display: flex;
    justify-content: space-between;
    padding: 8%;
    font-size: 20px;
}

.text21 a{
    cursor: pointer;
    text-decoration: none; 
    color:inherit;
}

.text22 {
    text-align: center;
    font-weight:bold;
}

#store {
    margin-left: 10px;
}

#heart {
    width: 20.989px;
    height: 18px;
    margin-right: 8px;
}

p {
    font-size: 20px;
    font-weight: 600;
}

#detail-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.list {
    width: 370px;
}