{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="{% static 'css/menu_create.css' %}">
  <title>Document</title>
</head>
<body>
  <div id="container">
    <nav>
      <div class="text21"><a href="#">&lt</a></div> {% comment %} 다시 seller_detail 페이지로 이동해야 돼요{% endcomment %}
      <div class="text22"> SSOCK </div>
      <div></div>
    </nav>
    <div id="store">
      <img src="{% static 'images/heart.png' %}" id="heart">
      {{market.register.name}} > {{market.register.representative}} 사장님  {% comment %}수정했는데도 안불러와지네요..쩝 {% endcomment %}
    </div>
    <div id="menu-img">
      {% if menu.img %}
        <img src="{{ menu.img.url }}" alt="이미지" width="390px" height="172px">
      {% else %}
        <p>이미지 없음</p>
      {% endif %}
    </div>
    {% comment %} <p>카테고리 추가</p>
    <form method="POST" id="category_create" enctype="multipart/form-data" onsubmit="return validateCategory()">
      {% csrf_token %}
      <input type="text" id="category1" name="category1" placeholder="추가할 카테고리 명을 입력해주세요"><br>
      <input type="submit" id="btn1" name="btn1" value="추가">
    </form> {% endcomment %}
    <p>메뉴 수정</p>
    <form method="POST" enctype="multipart/form-data" onsubmit="return validateMenu()">
      {% csrf_token %}
      <label for="category">카테고리</label>
      <select id="category2" name="category">
        {% for category in categories %}
          <option value="{{ category.pk }}" {% if category.pk == menu.category.pk %}selected{% endif %}>
            {{ category.category }}
          </option>
        {% empty %}
          <option value="0">카테고리를 등록하세요</option>
        {% endfor %}
      </select>
      <br>
      <label for="name">메뉴명</label>
      <input type="text" id="name" name="name" value="{{menu.name}}" placeholder="메뉴명을 입력해주세요"><br>
      <label for="price">가격</label>
      <input type="number" id="price" name="price" value="{{menu.price}}" min="0" placeholder="가격을 입력해주세요"><br>
      <label for="img">이미지</label>
      <label class="input-file-btn" for="img">파일 첨부</label>
      {% if menu.img %}
      <input type="file" id="img" name="img" value="{{menu.img.url}}" style="display: none">
      {% else %}
      <input type="file" id="img" name="img" style="display: none">
      {% endif %}
      <br><br>
      <label for="exp">메뉴 설명</label><br>
      <textarea id="exp" name="exp" placeholder="메뉴에 대한 상세 설명을 작성해주세요">{{menu.exp}}</textarea><br>
      <div id="btn-div"> <input type="submit" id="btn2" name="btn2" value="수정"> </div>
    </form>
    <form method="POST" enctype="multipart/form-data" onsubmit="return validateOption()">
      <p>추가 옵션</p>
      {% csrf_token %}
      <div id="saved-option">
        {% for option in options %}
        {{option.name}} - {{option.price}}원
        {% empty %}
        옵션을 등록하세요
        {% endfor %}
      </div>
      <input type="text" id="option" name="option" placeholder="추가할 옵션을 입력해주세요"><br>
      <input type="text" id="option_price" name="option_price" placeholder="추가할 옵션의 가격을 입력해주세요"><br>
      <div id="btn3-div">
        <input type="submit" id="btn3" name="btn3" value="옵션 추가">
      </div>
    </form>
  </div>

  <script>
    function validateCategory() {
      const category = document.getElementById('category1').value;
      if (!category) {
        alert('카테고리를 입력해주세요.');
        return false; // 폼 제출을 막습니다.
      }
      return true; // 폼 제출을 진행합니다.
    }
  
    function validateMenu() {
      const name = document.getElementById('name').value;
      const price = document.getElementById('price').value;
      const description = document.getElementById('exp').value;
  
      if (!name || !price || !description ) {
        alert('모든 항목을 입력해주세요.');
        return false; // 폼 제출을 막습니다.
      }
      return true; // 폼 제출을 진행합니다.
    }

    function validateOption() {
      const option = document.getElementById('option').value;
      const option_price = document.getElementById('option_price').value;
      if (!option | !option_price) {
        alert('옵션을 입력해주세요.');
        return false; // 폼 제출을 막습니다.
      }
      return true; // 폼 제출을 진행합니다.
    }

  </script>
</body>
</html>