<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  주문 목록
  {% for payment in payments %}
  {{payment.date}}
  <a href="{% url 'sellers:order_detail' payment.pk %}">주문번호 있어야할듯</a>
  {% comment %} {% for cart_item in payment.cart.cartitem_set.all %}
  <li>메뉴명: {{ cart_item.menu.name }}</li>
  <li>수량: {{ cart_item.quantity }}</li>
  {% endfor %} {% endcomment %}
  {% empty %}
  주문이 없습니다
  {% endfor %}
</body>
</html>