{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="{% static 'css/order_list.css' %}">
  <title>매장 주문 목록</title>
</head>
<body>
  <div id="container">
    <nav>
      <div class="text21"><a href="{% url 'users:mypage' %}">&lt</a></div> {% comment %} 다시 seller_detail 페이지로 이동해야 돼요{% endcomment %}
      <div class="text22"> SSOCK </div>
      <div></div>
    </nav>
    <div id="store">
      <img src="{% static 'images/heart.png' %}" id="heart">
      {{market.register.name}} > {{market.register.representative}} 사장님  {% comment %}수정했는데도 안불러와지네요..쩝 {% endcomment %}
    </div>
    <div class="list">
      <p>주문 목록</p>
    {% for payment in payments reversed %}
      <div id="detail-column">
        <div class="top">
          <div>{{payment.date}}</div>
          <div><a href="{% url 'sellers:order_detail' payment.pk %}">상세 보기</a></div>
        </div>
        {% for cart_item in payment.paymentitem_set.all %}
        <div class="bottom">
          <div>{{ cart_item.menu.name }}</div>
          <div>수량 : {{ cart_item.quantity }}</div>
        </div>
        {% endfor %}
      </div>
    {% empty %}
    주문이 없습니다
    {% endfor %}
    </div>
  </div>

</body>
</html>