{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <link href="{% static 'css/main.css'%}" rel="stylesheet"/>
</head>
</head>
<body>
  <nav>
    <div class="text21"><a href="#">&lt</a></div>
    <div class="text22"> SSOCK </div>
    <div></div>
  </nav>
  <section>
    <div class="img_wrap">
        <img class="img" src="{%static 'images/service2.png'%}">
    </div>
  </section>
  {% for seller in sellers %}
  <section>
    <div class="cont" id="cont">
        <div class="image-box">
            <a href="{% url 'sellers:seller_detail' seller.pk %}"><img src="{{seller.register.logo.url}}"></a>
            <div class="image-caption">{{seller.register.name}}</div>
        </div>
        <div class="text-box">
            <div class="text0_wrap">
                <img class="img02" src="{% static 'images/location.png'%}">
                <p class="text02">{{seller.register.location}}</p>
            </div class="text0_wrap">
            <div class="text0_wrap">
                <img class="img02" src="{% static 'images/clock.png'%}">
                <p class="text02">
                  {{seller.time}} 
                  {% if seller.close %}
                  {{seller.close}}
                  {% else %}
                  정기 휴무 없음
                  {% endif %}
                </p>
            </div>
        </div>
    </div>
  </section>
  {% endfor %}
</body>
</html>